img{
    height: 70px;
    width: 200px;
    border: 1px solid blue;
}
.navbar{
    background: linear-gradient(to right, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a 100%);
   
}

.nav-link text{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.nav-link:hover::before{
opacity: 1;
}



.nav-link:focus{
    outline: 0;
    box-shadow: none;
}
